<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlDialectInspection, SqlNoDataSourceInspection -->
<mapper namespace="org.clever.quartz.mapper.QrtzTriggersMapper">

    <resultMap id="TriggersResMap" type="org.clever.quartz.dto.response.TriggersRes" autoMapping="true"/>

    <select id="getSimpleTriggerByJobKey" resultMap="TriggersResMap">
        SELECT
          a.*,
          b.REPEAT_COUNT,
          b.REPEAT_INTERVAL,
          b.TIMES_TRIGGERED
        FROM QRTZ_TRIGGERS a
          LEFT JOIN QRTZ_SIMPLE_TRIGGERS b ON (a.SCHED_NAME=b.SCHED_NAME AND a.TRIGGER_GROUP=b.TRIGGER_GROUP AND a.TRIGGER_NAME=b.TRIGGER_NAME)
        WHERE b.SCHED_NAME IS NOT NULL
              AND a.SCHED_NAME = #{schedName}
              AND a.JOB_NAME = #{jobName}
              AND a.JOB_GROUP = #{jobGroup}
    </select>

    <select id="getCronTriggerByJobKey" resultMap="TriggersResMap">
        SELECT
          a.*,
          b.CRON_EXPRESSION,
          b.TIME_ZONE_ID
        FROM QRTZ_TRIGGERS a
          LEFT JOIN QRTZ_CRON_TRIGGERS b ON (a.SCHED_NAME=b.SCHED_NAME AND a.TRIGGER_GROUP=b.TRIGGER_GROUP AND a.TRIGGER_NAME=b.TRIGGER_NAME)
        WHERE b.SCHED_NAME IS NOT NULL
              AND a.SCHED_NAME = #{schedName}
              AND a.JOB_NAME = #{jobName}
              AND a.JOB_GROUP = #{jobGroup}
    </select>

    <select id="getBlobTriggersByJobKey" resultMap="TriggersResMap">
        SELECT
          a.*,
          b.BLOB_DATA
        FROM QRTZ_TRIGGERS a
          LEFT JOIN QRTZ_BLOB_TRIGGERS b ON (a.SCHED_NAME=b.SCHED_NAME AND a.TRIGGER_GROUP=b.TRIGGER_GROUP AND a.TRIGGER_NAME=b.TRIGGER_NAME)
        WHERE b.SCHED_NAME IS NOT NULL
              AND a.SCHED_NAME = #{schedName}
              AND a.JOB_NAME = #{jobName}
              AND a.JOB_GROUP = #{jobGroup}
    </select>

    <select id="getByJobKey" resultType="org.clever.quartz.entity.QrtzTriggers">
        SELECT * FROM QRTZ_TRIGGERS WHERE SCHED_NAME = #{schedName} AND TRIGGER_NAME = #{jobName} AND TRIGGER_GROUP = #{jobGroup}
    </select>
</mapper>
