<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlDialectInspection, SqlNoDataSourceInspection, SqlResolve -->
<mapper namespace="org.clever.quartz.mapper.QrtzSchedulerLogMapper">
    <!-- 表qrtz_scheduler_log(Scheduler调度日志表)映射 -->
    <resultMap id="BaseResultMap" type="org.clever.quartz.entity.QrtzSchedulerLog">
        <!-- 编号 -->
        <id column="id" property="id"/>
        <!-- 监听器名称 -->
        <result column="listener_name" property="listenerName"/>
        <!-- Scheduler名称 -->
        <result column="sched_name" property="schedName"/>
        <!-- Scheduler实例的唯一标识，配置文件中的Instance Id -->
        <result column="instance_name" property="instanceName"/>
        <!-- 触发事件调用的方法 -->
        <result column="method_name" property="methodName"/>
        <!-- 触发事件记录的日志数据 -->
        <result column="log_data" property="logData"/>
        <!-- 触发节点IP,可能有多个(‘;’分隔) -->
        <result column="ip_address" property="ipAddress"/>
        <!-- 记录时间 -->
        <result column="log_time" property="logTime"/>
    </resultMap>

    <delete id="deleteByTime">
        DELETE FROM qrtz_scheduler_log WHERE <![CDATA[ log_time<=#{date} ]]>
    </delete>

    <select id="findByPage" resultMap="BaseResultMap">
        select * from qrtz_scheduler_log
        where 1=1
        <if test="query.schedName != null and query.schedName != ''">
            AND sched_name=#{query.schedName}
        </if>
        <if test="query.instanceName != null and query.instanceName != ''">
            AND instance_name=#{query.instanceName}
        </if>
        <if test="query.methodName != null and query.methodName != ''">
            AND method_name=#{query.methodName}
        </if>
        <if test="query.logTimeStart != null">
            <![CDATA[ AND log_time>=#{query.logTimeStart} ]]>
        </if>
        <if test="query.logTimeEnd != null">
            <![CDATA[ AND log_time<=#{query.logTimeEnd} ]]>
        </if>
        order by log_time desc
    </select>
</mapper>
